@tailwind base;
@tailwind components;
@tailwind utilities;

.good {
  color: #90ee90;
}

.moderate {
  color: #ffff66;
}

.unhealthy-for-sensitive-groups {
  color: #ffcc99;
}

.unhealthy {
  color: #ff9999;
}

.very-unhealthy {
  color: #ff6666;
}

.hazardous {
  color: #ff0000;
  color: #fff;
}
